:root {
  --spacing: 1rem;
}

.main-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #dadada;
  color: white;
  padding: 1rem;
  text-align: center;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.sidebar {
  width: 18vw;
  background-color: #f4f4f4;
  padding: 1vw;
  flex-shrink: 0;
}

.main-content {
  flex: 1;
  padding: 1vw;
}

.footer {
  background-color: #dadada;
  color: white;
  padding: 1rem;
  text-align: center;
}

@media (max-width: 1024px) {
  .sidebar {
    width: 25vw;
  }

  .main-content {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .main-content {
    width: 100%;
    padding: 0.5rem;
  }
}

@media (max-width: 480px) {
  .header,
  .footer {
    padding: 0.5rem;
  }
}
