:root {
  --primary: #2e2e2e; /* Primary background color */
  --primary-foreground: #ffffff; /* Primary text color */

  --secondary: #97deff; /* Secondary background color for hover/focus */
  --secondary-foreground: #000000; /* Secondary text color for hover/focus */

  --background: #ffffff; /* Background color for active link */
  --foreground: #88bcff; /* Text color for active link */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  line-height: 1.6;
  /* border: 10px solid red; */
}
